# Archivos de Python
__pycache__/
*.pyc
venv/
.env

# Archivos temporales de la app
temp_audio.wav
*.wav

# Carpetas de configuración local (si se crearon ahí)
.OpenTranscribe/

# --- Dependencias Externas (NO SUBIR) ---
whisper.cpp/
Archivador.tar.gz
dependencias.txt
aztualiza.sh

# Ignoramos archivos de sistema
.DS_Store
Thumbs.db
